<!-- show all partners names with correct grammatical syntax-->
<% @partners.each do |partner| %>
    <h2><%= partner.name %></h2>
<% end %>

<!-- show only if one user is associated with the list allow to invite another user to join list -->
<h3>Invite your partner!</h3>
<%= form_tag password_reset_path, method: :post do %>
    <%= text_field_tag :email, params[:email], placeholder: "Partner's Email" %>
    <%= submit_tag "Invite Partner" %>
<% end %>


<table>
  <thead>
    <tr>
      <td>Yes</td>
      <td>No</td>
      <td>Maybe</td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<% @activities.each do |activity| %>
    <%=activity.name %>
<% end %>



