<!-- show all partners names with correct grammatical syntax-->


<!-- show only if one user is associated with the list allow to invite another user to join list -->
Invite your partner!
<%= form_tag password_reset_path, method: :post do %>
    <%= text_field_tag :email, params[:email], placeholder: "Partner's Email" %>
    <%= submit_tag "Send Email" %>
<% end %>

<div class="paper">
    <table>
      <thead>
      <% @partners.each do |partner| %>
        <tr class="partners"> <!-- This should be jquery-->
          <td><%= partner.name %></td>
        </tr>
      <% end %>
      </thead>
      <tbody>
      </tbody>
    </table>

    <% @answers.each do |answer| %>
        <%= answer.name %>
    <% end %>

    <% @activities.each do |activity| %>
        <%= link_to activity.name, new_answer_path(activity.id) %>
    <% end %>
</div>


