<h2><%= @activity.name %></h2>

<%= form_for @answer, url: activity_answers_path(@activity), method: :post do |f| %>
    <div>
    <%= f.radio_button(:status, "yes") %>
    <%= f.label :yes %>
    <%= f.radio_button(:status, "no") %>
    <%= f.label :no %>
    <%= f.radio_button(:status, "maybe") %>
    <%= f.label :maybe %>
    </div>

    <div><%= f.label :notes_go_here %></div>
    <div><%= f.text_area :notes %></div>
    <%= f.hidden_field :name, :value => @activity.name %>
    <%= f.submit :submit, class: "btn" %>
<% end %>
